<?xml version="1.0"?>

<model>
  <name>Example Heightmap using the WillowGarage map</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>evocortex-WHA</name>
    <email>info@evocortex.com</email>
  </author>

  <description>
    Test heightmap.
  </description>
</model>
